<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.huawei.hmskit.wrapper_library">
    <application
        android:allowBackup="true"
        >
        <service
            android:name=".service.HMS_PushService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.huawei.push.action.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <meta-data
            android:name="push_kit_auto_init_enabled"
            android:value="true" />
    </application>
</manifest>